@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

 <p>
    <h2 style="text-align:center">Thank You For Using Our Service</h2>
</p>
<p>
    @Html.ActionLink("Return Home Page", "Index", "Car")
</p>

