<a href="@Url.Action("Purchaseorder", "PurchaseOrder")" style="color:white; font-weight:bold; text-decoration: none; text-align:center;">
    <img style="width:24px; height:24px;" src="~/Images/giohang.gif"/ > Cart (@ViewBag.TotalQ)
</a>
